.body {
    background-color: var(--line-color);
}

* {
    transition: all 0.7s ease-in-out;
}

/* Header */

.main_header .navigation {
    background-color: transparent;
}

.nav_center {
    flex-basis: 25%;
}

header .header_logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

header .tagline {
    font-family: 'Marck Script', cursive;
    color: rgb(163, 89, 66);
}

header .search {
    margin-left: 1rem;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem 0.6rem;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.header .nav_right {
    flex-basis: 10%;
}

.header_btn {
    font-size: 0.9rem;
    border: 0;
}

header .nav_right i {
    font-size: 1.5rem;
    cursor: pointer;
}

header .nav_right span {
    font-size: 0.8rem;
    height: 1.5rem;
    min-width: 1.5rem;
    top: -1rem;
}

#header_box {
    border: 0;
}

/* Categories */

.top_heading {
    text-align: center;
    margin-bottom: 1rem;
}

.top_subhead {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Marck Script', cursive;
}

.categories {
    column-gap: 1.5rem;
}

/* Cards */

.card_vertical .card_vertical_info {
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    background-color: var(--primary-color);
    
}

.card_vertical .card_vertical_info:hover {
    opacity: 1;
    transform: scale(0.96);   
}

.card_vertical .adjust_image {
    height: 40vh;
    width: 40vw;
    object-fit: contain;
    border-radius: 1.5rem;
}

.card_title {
    font-size: 5rem;
    margin: 0.3rem 0;
    color: var(--white-color);
}

.card_subtitle {
    font-size: 0.9rem;
    color: var(--grey-color);
    font-weight: var(--fw-semi-bold);
}

.play_btn {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    margin: 0.5rem 0;
    letter-spacing: 1.2;
    color: var(--red-color);
}

.play_btn:hover {
    letter-spacing: 0.2rem;
    transition: var(--trans-5);
}