.rules_container {
    row-gap: 4rem;
    margin: 2rem auto;
}

.rules_box {
    row-gap: 4rem;
    border-radius: 3rem;
    background-color: var(--info-background-color);
    backdrop-filter: blur(4px);
}

.rules_box:hover {
    opacity: 1;
    transform: scale(1.09); 
} 

.rules_list {
    row-gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: var(--fw-semi-bold);
    margin-top: 2rem;
    padding: 2rem;
}

.rules_list p {
    color: var(--primary-color);
    text-align: center;
}

.rules_btn_box .rules_btn {
    margin: 0 10rem;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: var(--fw-semi-bold);
    transition: all 0.4s ease-in-out;
}

.rules_btn_box .back:hover {
    color: var(--red-color);
    transition: var(--trans-4);
}

.rules_btn_box .start:hover {
    color: var(--blue-color);
    transition: var(--trans-2);
}