.rules_container {
    margin-top: 2rem;
    row-gap: 4rem;
    justify-content: flex-start;
    align-items: center;
}

.rules_box {
    row-gap: 4rem;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--grey-secondary-color);
    border-radius: 3rem;
}

.rules_list {
    row-gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    padding: 2rem;
    line-height: 2rem;
    font-family: 'Lora', serif;
}

.rules_btn_box {
    display: flex;
    justify-content: center;
}

.rules_btn_box .rules_btn {
    margin: 0 10rem;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.rules_btn_box .back:hover {
    color: var(--red-color);
}

.rules_btn_box .start:hover {
    color: var(--blue-color);
}